# 1 Basics

Exercise 1.1: The interpreter

In [721]:
3 + 1

4

In [722]:
3 * 3

9

In [723]:
2 ** 3

8

In [724]:
"Hello, world!"

'Hello, world!'

Exercise 1.2: Scripts

Exercise 1.3: More interpreter

In [725]:
"py" + "thon"

'python'

In [726]:
"py" * 3 + "thon"

'pypypython'

In [727]:
# "py" - "py"
# TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [728]:
# "3" + 3
# TypeError: can only concatenate str (not "int") to str

In [729]:
3 * "3"

'333'

In [730]:
global a

In [731]:
a = 3

In [732]:
a

3

Exercise 1.4: Booleans

In [733]:
1 == 1

True

In [734]:
1 == True

True

In [735]:
0 == True

False

In [736]:
0 == False

True

In [737]:
3 == 1 * 3

True

In [738]:
(3 == 1) * 3

0

In [739]:
(3 == 3) * 4 + 3 == 1

False

In [740]:
3**5 >= 4**4

False

Exercise 1.5: Integers

In [741]:
5 / 3

1.6666666666666667

In [742]:
5 % 3

2

In [743]:
5.0 / 3

1.6666666666666667

In [744]:
5 / 3.0

1.6666666666666667

In [745]:
5.2 % 3

2.2

In [746]:
2001 ** 200

1775896810483121914350934797871501063452843428843794422323202530887281536545210629921129898113201749875234297340507804201761453596034016264189501186924066128377025843892373608427790859511135990682732202975330824797118808624727351608183194154557208730494440110429635650057431833674286462463508755276302896154336475782768613964332764108132533925570342220340698973761380541294970139762186212823359128790706292900765512137078550033912252338262922477518858757114840012576514724742388124595061301502222934806074032688691170880996881967426442947828261057852871032366879179996122216385870273020506079240103910728766397733398071775041745854959302025036249707279600400001

Exercise 1.6: Floats

In [747]:
# 2000.3 ** 200
# OverflowError: (34, 'Result too large')

In [748]:
1.0 + 1.0 - 1.0

1.0

In [749]:
1.0 + 1.0e20 - 1.0e20

0.0

Exercise 1.7: Variables

In [750]:
name = str(input('name: '))
print('Hello, ' + name + '!')

Hello, ASD!

Exercise 1.8: Type casting

In [751]:
float(123)

123.0

In [752]:
float("123")

123.0

In [753]:
float("123.23")

123.23

In [754]:
int(123.23)

123

In [755]:
# int("123.23")
# ValueError: invalid literal for int() with base 10: '123.23'

In [756]:
int(float("123.23"))

123

In [757]:
str(12)

'12'

In [758]:
str(12.2)

'12.2'

In [759]:
bool("a")

True

In [760]:
bool(0)

False

In [761]:
bool(0.1)

True

# 2 Control flow

### Exercise 2.1: Range

Type range(5) in the interpreter, what does the interpreter return? So what does for i in range(5)
mean?

Let’s also find out whether the interpreter can help us understand the object ‘range(5)’ better. Type
type(range(5)) in the interpreter. More on this soon!

In [762]:
range(5)

range(0, 5)

In [763]:
for i in range(5):
    print(i, end=' ')

0 1 2 3 4

In [764]:
'range(5)'

'range(5)'

In [765]:
type(range(5))

range

### Exercise 2.2: For loops

Use a for loop to:

(a) Print the numbers 0 to 100

In [766]:
for i in range(0, 100):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

(b) Print the numbers 0 to 100 that are divisible by 7

In [767]:
for i in range(100):
    if i % 7 == 0:
        print(i, end=' ')

0 7 14 21 28 35 42 49 56 63 70 77 84 91 98

(c) Print the numbers 1 to 100 that are divisible by 5 but not by 3

In [768]:
for i in range(100):
    if i % 5 == 0 and i % 3 != 0:
        print(i, end=' ')

5 10 20 25 35 40 50 55 65 70 80 85 95

(d) Print for each of the numbers x = 2, . . . 20, all numbers that divide x, excluding 1 and x. Hence, for 18, it should print 2 3 6 9

In [769]:
for i in range(2, 20):
    for j in range(2, i):
        if i % j == 0:
            print(j, end=' ')
    print()

2

2 3

2 4
3
2 5

2 3 4 6

2 7
3 5
2 4 8

2 3 6 9

### Exercise 2.3: Simple while loops

Instead of using a for loop, use a while loop to:

(a) Print the numbers 0 to 100

In [770]:
i = 0
while i < 100:
    print(i, end=' ')
    i += 1

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

(b) Print the numbers 0 to 100 that are divisible by 7

In [771]:
i = 0
while i < 100:
    if i % 7 == 0:
        print(i, end=' ')
    i += 1

0 7 14 21 28 35 42 49 56 63 70 77 84 91 98

### Exercise 2.4: Hangman update 1

Let’s reconsider the hangman code we saw in class 1. We noted that the computer agent is not very good at guessing.

Update the code such that the computer guesses ‘e’ first, and ’a’ second.

Use the simulate.py script to see if this improves performance.

### Exercise 2.5: While loops

Use a while loop to find the first 20 numbers that are divisible by 5, 7 and 11, and print them. Hint: store the number found so far in a variable.

In [772]:
counter = 11
founded = 0
while founded < 20:
    if counter % 5 == 0 and counter % 7 == 0 and counter % 11 == 0:
        founded += 1
        print(counter, end=' ')
    counter += 1

385 770 1155 1540 1925 2310 2695 3080 3465 3850 4235 4620 5005 5390 5775 6160 6545 6930 7315 7700

### Exercise 2.6: More while loops

The smallest number that is divisible by 2, 3 and 4 is 12. Find the smallest number that is divisible by all integers between 1 and 10.

In [773]:
i = 0
smallest_num = 1
while i < 1:
    if smallest_num % 1 == 0 and smallest_num % 2 == 0 and smallest_num % 3 == 0 and smallest_num % 4 == 0 and smallest_num % 5 == 0 and smallest_num % 6 == 0 and smallest_num % 7 == 0 and smallest_num % 8 == 0 and smallest_num % 9 == 0 and smallest_num % 10 == 0:
        print(smallest_num)
        i += 1
    smallest_num += 1

2520

### Exercise 2.7: Collatz sequence

A Collatz sequence is formed as follows: We start with some number x0, and we find the next number in the sequence by

xi+1 =(xi/2 if xi is even, 3xi + 1 if xi is odd)

If xi = 1, we stop iterating and have found the full sequence.

For example, if we start with x0 = 5, we obtain the sequence: 5 16 8 4 2 1

It is conjectured, though not proven, that every chain eventually ends at 1.

Print the Collatz sequence starting at x0 = 103.

In [774]:
x_zero = 103
interrupt = 0
while interrupt == 0:
    # even
    if x_zero % 2 == 0:
        x_zero = int(x_zero / 2)
        # break
        if x_zero == 1:
            interrupt = 1
        print(int(x_zero), end=' ')

    # odd
    else:
        x_zero = int((x_zero * 3) + 1)
        # break
        if x_zero == 1:
            interrupt = 1
        print(int(x_zero), end=' ')

310 155 466 233 700 350 175 526 263 790 395 1186 593 1780 890 445 1336 668 334 167 502 251 754 377 1132 566 283 850 425 1276 638 319 958 479 1438 719 2158 1079 3238 1619 4858 2429 7288 3644 1822 911 2734 1367 4102 2051 6154 3077 9232 4616 2308 1154 577 1732 866 433 1300 650 325 976 488 244 122 61 184 92 46 23 70 35 106 53 160 80 40 20 10 5 16 8 4 2 1

# 3 Functions

### Exercise 3.1: Hello

(a) Write a function hello_world that prints ’Hello, world!’

In [775]:
word = 'hello_world'.split('_')
print(str(word[0]).capitalize() + ', ' + str(word[1]) + '!')

Hello, world!

(b) Write a function hello_name(name) that prints ’Hello, name!’ where name is a string.

In [776]:
def hello_name(name):
    print('Hello, ' + str(name) + '!')
hello_name("Alperen")

Hello, Alperen!

(c) Explain the difference between the print and return keywords. What would change if instead of print you would use return?

In [777]:
def prt(a, b):
    print('Printed: ', end=' ')
    print(a+b)


def ret(a, b):
    print('Returned: ', end=' ')
    return a + b


x = prt(5, 3)
y = ret(5, 3)

# TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'
# print(x * 2)
print(y * 2)

Printed:  8
Returned:  16

### Exercise 3.2: Polynomial
Write a function that evaluates the polynomial 3x^2 − x + 2

In [778]:
def pol(x):
    return ((3*(x**2)) - x + 2)
pol(5)

72

### Exercise 3.3: Maximum
Write a function my_max(x,y) that returns the maximum of x and y. Do not use the max function, but use if instead in following two ways:

(a) Use both if and else.

In [779]:
def my_max(x, y):
    if x > y:
        return x
    else:
        return y


my_max(5, 8)

8

(b) Use if but not else (nor elif).

In [780]:
def my_max(x, y):
    if x > y:
        return x
    return y


my_max(5, 8)

8

### Exercise 3.4: Primes
(a) Write a function is_prime(n) that returns True only if n is prime.

In [781]:
def is_prime(n):
    if n > 1:
        for i in range(2, n):
            if n % i == 0:
                return False
        return True


is_prime(211)

True

(b) Note that apart from 2 and 3, all primes are of the form 6k ± 1 (though not all numbers of the form 6k ± 1 are prime of course). Using this, we can improve the computation time by a factor 3.

Update your function to use this.

In [782]:
def is_prime(n):
    if n > 1:
        temp = (n - 1) / 6
        if isinstance(temp, int):
            return True
        for i in range(2, n):
            if n % i == 0:
                return False
        return True


is_prime(211)

True

(c) Write a function that returns all primes up to n.

In [783]:
def is_prime(n):
    for i in range(2, n):
        if n % i == 0:
            return False

    return True


def print_prime(n):
    for i in range(2, n + 1):
        if is_prime(i):
            print(i, end=" ")

print_prime(211)

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199 211

(d) Write a function that returns the first n primes.

In [784]:
def is_prime(n):
    for i in range(2, n):
        if n % i == 0:
            return False

    return True


def print_prime(n):
    counter = 0
    i = 2
    while counter < n:
        if is_prime(i):
            print(i, end=' ')
            counter += 1
            i += 1
        else:
            i += 1


print_prime(5)

2 3 5 7 11

### Exercise 3.5: Root finding
Suppose f is a continuous function and f(a) < 0 and f(b) > 0 for some known a and b. For simplicity, assume a < b. Then, there must exist some c such that f(c) = 0.

(a) Write a function root(f, a, b) that takes a function f and two floats a and b and returns the root c. Hint: check the sign at the midpoint of the interval.

In [ ]:
def root(f, a, b):
    pass

(b) Remove the assumption that a < b, and that f(a) < 0 and f(b) > 0, if your current code relies on them.

(c) Add a check that prints ’function evals have same sign’ if f(a) > 0 and f(b) > 0 or if f(a) < 0 and f(b) < 0.